# Flutter/Dart
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
build/
.idea/
.vscode/
.generated/

# Android/Gradle
**/local.properties
**/*.iml
.gradle/
build/
*/build/
captures/
.externalNativeBuild

# iOS
Pods/
DerivedData/
Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.log
*.lock
.DS_Store
*.keystore
